<%- include ('partials/header.ejs') %>
<%- include ('partials/navbar.ejs') %>
<br>

<div class="container mt-4">
    <h1>Cardápio LimosIA</h1>
</div>

<br>

<div class="container content-container">
    <div class="calendar-container">
        <div class="calendar">
            <div class="calendar-header">
                <button id="prev-month">Anterior</button>
                <div id="month-year"></div>
                <button id="next-month">Próximo</button>
            </div>
            <div class="calendar-weekdays">
                <div>Dom</div>
                <div>Seg</div>
                <div>Ter</div>
                <div>Qua</div>
                <div>Qui</div>
                <div>Sex</div>
                <div>Sáb</div>
            </div>
            <div class="calendar-days" id="calendar-days"></div>
        </div>
    </div>

    <div class="info-container">
        <div class="text-image-container">
            <h2 id="dish-name"></h2>
            <img id="day-image" src="/images/prato.jpg" style="width: 300px;">
            <div id="day-text"></div>
        </div>
    </div>
</div>

<br>
<br>
<%- include ('partials/footer.ejs') %>
