<%- include ('partials/header.ejs') %>
<%- include ('partials/navbar.ejs') %>

    <div class="container">
    
        <div class="card shadow mb-4">
            <div class="card-header py-3">
            </div>
            <div class="card-body">
                <div class="chart-bar">
                    <canvas id="teste"></canvas>
                </div>
                <br>
                <br>
                <br>
                <br>
                
            </div>
            <div class="graph-pizza" style="display: flex; justify-content: center; gap: 20px;">
               
                <canvas id="myChart" style="width: 100%; max-width: 620px;"></canvas>
                
                <canvas id="myChart2" style="width: 100%; max-width: 620px;"></canvas>
                
            </div>
      
            <br>
            <br>
            <br>
            <br>
     
           <a href="#"><img src="/images/Impressao.png" style="width: 60px; height: 60px; "></a> 
        </div>

    </div>
   
    </div>  
    

    <script>
        var xValues = ["Segunda", "Terca", "Quarta", "Quinta", "Sexta"];
        var yValues = [20, 10,10,15,30];
        var barColors = ["red", "#00aba9","#6959CD","#4169E1","#BA55D3"];
        
        var ctx1 = document.getElementById('myChart').getContext('2d');
        new Chart(ctx1, {
            type: "pie",
            data: {
                labels: xValues,
                datasets: [{
                    backgroundColor: barColors,
                    data: yValues
                }]
            },
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'top',
                    },
                    title: {
                        display: true,
                        text: 'Gráfico de Desperdicio'
                    }
                }
            }
        });
    </script>
    
    <script>
        var ctx2 = document.getElementById('myChart2').getContext('2d');
        new Chart(ctx2, {
            type: "pie",
            data: {
                labels: xValues,
                datasets: [{
                    backgroundColor: barColors,
                    data: yValues
                }]
            },
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'top',
                    },
                    title: {
                        display: true,
                        text: 'Gráfico de Consumo'
                    }
                }
            }
        });
    </script>
    
                
<%- include ('partials/footer.ejs') %>
