<%- include ('partials/header.ejs') %>
<%- include ('partials/navbar.ejs') %>

    <div class="container">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
            </div>
            <div class="card-body">
                <div class="chart-bar">
                    <canvas id="teste"></canvas>
                </div>
            </div>
        </div>

    </div>
    </div>  
<%- include ('partials/footer.ejs') %>
