<%- include ('partials/header.ejs') %>

<div class="container-fluid">
    <div class="row no-gutter">
        <div class="col-md-6 d-none d-md-flex bg-image"></div>
        <div class="col-md-6 bg-light">
            <div class="login d-flex align-items-center py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 col-xl-7 mx-auto">
                            <h3 class="display-4"> <img src="/images/bitmap2.png" style="width: 300px; margin-left: -9%;"></h3>
                            <p class="text-muted mb-5 fw-bold">Entre no nosso software</p>
                            <form action="/authenticate" method="post">
                                <div class="form-group mb-3">
                                    <input id="inputEmail" name="email" type="email" placeholder="email@exemplo.com" required class="form-control rounded-pill border-0 shadow-sm px-4">
                                </div>
                                <div class="form-group mb-3">
                                    <input id="inputPassword" name="password" type="password" placeholder="Insira sua senha" required class="form-control rounded-pill border-0 shadow-sm px-4 text-primary">
                                </div>
                                <button type="submit" class="btn btn-primary btn-block text-uppercase mb-2 rounded-pill shadow-sm" style="background-color: #ff0000;">Login</button>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>